body {
    background-color: #121212;
    color: white;
    font-family: Arial;
    margin: 0;
}

.header {
    background-color: #161b22;
    text-align: center;
    padding: 20px;
}

.section {
    padding: 30px;
}

.card {
    background-color: #e5e7eb;
    color: black;
    padding: 15px;
    margin: 10px 0;
}

.project {
    background-color: #d1d5db;
    color: black;
    padding: 15px;
    margin-bottom: 10px;
}

input, textarea {
    width: 250px;
    padding: 5px;
}

.footer {
    background-color: #161b22;
    text-align: center;
    padding: 15px;
}